@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-indigo-700 hover:text-indigo-900 hover:underline;
}

div.post-content {
  @apply text-xl font-serif text-left text-gray-700;
}

div.post-content > p {
  @apply pt-2 pb-2 leading-9 mb-2;
}

div.post-content > p:not(.img-description) {
  @apply text-justify;
}

div.post-content > p > a {
  @apply text-indigo-700 hover:text-indigo-900 hover:underline;
}

div.post-content > ul {
  @apply list-disc pl-4;
}

div.post-content > ul > li {
  @apply pt-2 leading-9 text-justify;
}

div.post-content > blockquote {
  @apply mt-4 mb-4 pl-4 italic border-l-4 text-gray-500 border-gray-500 leading-9 text-justify;
}

div.post-content > h2 {
  @apply text-xl text-indigo-700 font-bold font-mono pt-3 pb-3;
}

div.post-content > h3 {
  @apply text-xl text-indigo-700 font-bold font-mono pt-3 pb-3;
}

div.post-content > h4 {
  @apply text-xl text-indigo-700 font-bold font-mono pt-3 pb-3;
}

div.post-content > h5 {
  @apply text-lg text-indigo-700 font-bold font-mono pt-3 pb-3;
}

p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.img-description {
  @apply text-sm text-gray-500 text-center;
}
