---
layout: default
title: Home
---

<div class="container mx-auto pt-16">
  <div class="flex justify-center mb-4">
    <img
      class="rounded-full h-48 shadow-xl"
      src="https://avatars2.githubusercontent.com/u/2325140?v=3&s=460"
      title="Özgür Adem Işıklı"
      alt="Özgür Adem Işıklı"/>
  </div>
  <h1 class="text-center font-mono text-2xl text-indigo-800 font-bold mb-4">Özgür Adem Işıklı</h1>
  <div class="flex justify-center p-4">
    <div class="w-1/2 text-xl font-serif text-left text-gray-700">
      <p class="p-2 leading-9">
        Hi, I am Özgür <a href="https://www.youtube.com/watch?v=hIaHwk87uSg" class="text-gray-400 hover:text-indigo-800">/œzgʊr/</a>!
      </p>
      <p class="p-2 leading-9">
        I am a software developer who has been coding since I was a student in high school. Usually, I am working on web
        applications on both sides; frontend and backend. I had a chance to work with many different languages and
        technologies from zero to production.
      </p>
      <p class="p-2 leading-9">
        I am the co-founder of some of the local communities on technology and music. I like sharing my experiences with
        people to have better friendships. That's why I like writing and talking about everything.
      </p>
      <p class="p-2 leading-9">
        Also, I am interested in creating a startup which makes me proud of it. Although I fail usually, I am stubborn
        enough to keep going try.
      </p>
    </div>
  </div>
</div>

<!-- {% include sections.html %} -->

<!-- <div class="row">
  <div class="col-6">
    <h1 class="category">Latest</h1>
    <div class="posts">
      {% for post in site.posts limit:10 %}
        {% include article.html %}
      {% endfor %}
    </div>
    <h1 class="category">Essays</h1>    
    <div class="posts">
      {% for post in site.categories.Essays limit: 10 %}
        {% include article.html %}
      {% endfor %}
    </div>
  </div>
  <div class="col-6">
    <h1 class="category">Quick Notes</h1>    
    <div class="posts">
      {% for post in site.categories.Notes limit: 10 %}
        {% include article.html %}
      {% endfor %}
    </div>
    <h1 class="category">Presentation</h1>    
    <div class="posts">
      {% for post in site.categories.Presentation limit: 10 %}
        {% include article.html %}
      {% endfor %}
    </div>
  </div>
</div> -->

