---
layout: default
title: Home
---

{% include sections.html %}

<div class="row">
  <div class="col-6">
    <h1 class="category">Latest</h1>
    <div class="posts">
      {% for post in site.posts limit:10 %}
        {% include article.html %}
      {% endfor %}
    </div>
    <h1 class="category">Essays</h1>    
    <div class="posts">
      {% for post in site.categories.Essays limit: 10 %}
        {% include article.html %}
      {% endfor %}
    </div>
  </div>
  <div class="col-6">
    <h1 class="category">Quick Notes</h1>    
    <div class="posts">
      {% for post in site.categories.Notes limit: 10 %}
        {% include article.html %}
      {% endfor %}
    </div>
    <h1 class="category">Presentation</h1>    
    <div class="posts">
      {% for post in site.categories.Presentation limit: 10 %}
        {% include article.html %}
      {% endfor %}
    </div>
  </div>
</div>

