<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Özgür Adem Işıklı Kişisel Web Sayfası">
  <meta name="keywords" content="ozziest, özgür adem ışıklı, {% if page.tags %}{{ page.tags }}{% else %}yazılım, web, php, javascript, laravel, node.js{% endif %}">
  <meta name="google-site-verification" content="asehf8fZcr1UJmJ2biOtkmY8r504ukqabMnzrGFYILc" />

  <div class="b-nav">
    <li><a class="b-link" href="{{ site.baseurl }}/">Anasayfa</a></li>
    <li><a class="b-link" href="{{ site.baseurl }}/about">Hakkında</a></li>
    <li><a class="b-link" href="{{ site.baseurl }}/memories">Anılar</a></li>
    <li><a class="b-link" href="{{ site.baseurl }}/files/OAI_Resume.pdf">Özgeçmiş</a></li>
  </div>

  <div class="b-container">
    <div class="b-menu">
      <div class="b-bun b-bun--top"></div>
      <div class="b-bun b-bun--mid"></div>
      <div class="b-bun b-bun--bottom"></div>
    </div>
  </div>
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <script type="text/javascript" src="{{ site.baseurl }}/js/burger.min.js"></script>
</head>
