<div class="flex justify-center mb-4">
  <img
    class="rounded-full h-48 shadow-xl"
    src="https://avatars2.githubusercontent.com/u/2325140?v=3&s=460"
    title="Özgür Adem Işıklı"
    alt="Özgür Adem Işıklı"/>
</div>
<h1 class="text-center font-mono text-2xl text-indigo-900 font-bold mb-1">
  <a href="/" class="hover:underline">Özgür Adem Işıklı</a>
</h1>
<h4 class="text-center font-mono text-sm text-gray-400 mb-1">Software Developer</h4>
<h4 class="text-center font-mono text-sm text-gray-400 mb-6">i.ozguradem [at] gmail.com</h4>