---
layout: default
---

<div class="container mx-auto pt-16 mb-20">
  {% include profile.html %}

  <div class="flex justify-center p-4 mb-4">
    <div class="w-3/5">

      {% if page.post_img %}
        <div class="flex justify-center shadow">
          <a href="{{ page.post_img_link }}" target="_blank" title="{{ page.title }}">
            <img class="rounded-tl-lg rounded-tr-lg shadow" src="/images/posts/{{ page.post_img }}" />
          </a>
        </div>
      {% endif %}
      
      <div class="post-content pt-10">
        <h1 class="font-bold text-2xl font-mono text-indigo-900">
          {{ page.title }}
        </h1>
        <div class="text-gray-400 font-normal text-md mb-4">
          <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
        </div>

        {{ content }}
      </div>
    </div>
  </div>
</div>

<!-- {% include share.html %} -->

<!-- {% if site.related_posts != empty %}
<aside class="related no-print">
  <h2>Suggestions</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h6>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h6>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}

<div class="no-print">
  <h2>What About Comments?</h2>
  <p>
    I do not use any comment system such as Disqus because of user's privacy. If you want to 
    discuss something about this post, you may open an issue on 
    <a href="https://github.com/ozziest/ozziest.github.io/issues" target="_blank">the repo</a>.
  </p>
  <p>
    You may check what is the problem with Disqus;
  </p>
  <ul>
    <li>
      <a href="https://replyable.com/2017/03/disqus-is-your-data-worth-trading-for-convenience/">Disqus: Is Your Data Worth Trading for Convenience?</a>
    </li>
    <li>
        <a href="http://chrislema.com/killed-disqus-commenting/">Why I killed Disqus Commenting on my site</a>
      </li>
    </ul>
</div> -->